<div class="left-sidebar">
    <h2>Profile Settings</h2>
    <a href="user"><img src="{{ asset('uploads/images/' ~ app.user.image) }}" style="height: 50px">
        {{ app.user.name }} {{ app.user.surname }}

        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="/user">My Profile</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="/user/product">My Products</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="/user/comments">My Comments</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="/user/orders">My Orders</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="/logout">Logout</a></h4>
            </div>
        </div>

    </div><!--/category-products-->
</div>
